<%- include("header")-%>

<h2>Hello</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam recusandae ratione molestias. Excepturi quos perspiciatis officia dolores quae ut nam voluptatem aliquam accusantium cumque voluptates exercitationem, ratione repellat esse laboriosam.</p>

<%- include("footer")-%>